.directions-steps-render {
    color: #4F4F4F;
    font-size: 20px;
    width: 100%;
}

.directions-steps-render .ion-chevron-right {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    color: #B7B7B7;
    font-size: 12px;
}

.directions-steps-render .transit {
    white-space: nowrap;
}

.directions-steps-render .transit .bus-no {
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
}

.directions-steps-render .transit .ion-android-subway {
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.directions-steps-render .transit .ion-android-subway:before {
    display: inline-block;
    position: relative;
    top: -4px;
}