.modal-footer .social-links span {
    font-size: 30px;
    color: #555555;
}

.modal-body .ion-heart {
    color: #d0183d;
    font-size: 18px;
    padding: 0 6px;
}

.modal-body p {
    margin: 0;
}

.modal-footer .social-links span:hover {
    color: #999999;
}