.new-route-modal .modal-header {
    font-size: 16px;
}

.new-route-modal .close-button {
    position: absolute;
    top: 0;
    right: 13px;
    font-size: 20px;
    color: #888;
    z-index: 5;
    transition: color .5s;
    cursor: pointer;
}

.new-route-modal .form-horizontal .form-group {
    margin: 0;
}

.new-route-modal .row {
    margin: 15px 0 0 0;
}

.new-route-modal .row a {
    cursor: pointer;
}

.new-route-modal .row a:hover {
    text-decoration: none;
}

.new-route-modal .row a[disabled] {
    color: #d0d0d0;
    cursor: not-allowed;
}