.route-compare-menu .duration,
.route-compare-menu .cost {
    font-family: Montserrat, serif;
    text-align: center;
}

.route-compare-menu .duration .value,
.route-compare-menu .cost .value {
    font-size: 14px;
}

.route-compare-menu .duration .identifier,
.route-compare-menu .cost .identifier {
    margin-top: -10px;
}

.route-compare-menu .comparer-row,
.route-compare-menu .expanded-comparer-row {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 6px;
    padding-top: 6px;
    font-family: Monteserrat, sans-serif;
}

.route-compare-menu .expanded-comparer-row {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 15px;
}

.route-compare-menu .expanded-comparer-row .col-xs-12 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.route-compare-menu .expanded-comparer-row .row {
    margin-left: 0;
    margin-right: 0;
}

.route-compare-menu .expanded-comparer-row .row:nth-child(4) {
    padding-top: 10px;
}

.route-compare-menu .expanded-comparer-row .delete-button {
    color: #e51c23;
}

.route-compare-menu .comparer-row .col-xs-8,
.route-compare-menu .expanded-comparer-row .col-xs-8 {
    overflow: hidden;
    padding-top: 5px;
}

.add-route-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2ad336;
    color: white;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
}