.route-compare-menu .duration,
.route-compare-menu .cost {
    font-family: Montserrat, serif;
    text-align: left;
}

.route-compare-menu .duration .value,
.route-compare-menu .cost .value {
    font-size: 14px;
}

.route-compare-menu .duration .identifier,
.route-compare-menu .cost .identifier {
    margin-top: -10px;
}

.route-compare-menu .comparer-row,
.route-compare-menu .expanded-comparer-row {
    border: 1px solid #e5e5e5;
    font-family: Monteserrat, sans-serif;
    margin: 0 0 -1px 0;
    padding: 10px;
}

.route-compare-menu .comparer-row {
    cursor: pointer;
}

.route-compare-menu .comparer-row:hover {
    background-color: #f0f0f0;
}

.route-compare-menu .expanded-comparer-row .col-xs-12 {
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}

.route-compare-menu .expanded-comparer-row .row {
    margin-left: 0;
    margin-right: 0;
}

.route-compare-menu .expanded-comparer-row .button-row {
    padding-top: 20px;
}

.route-compare-menu .expanded-comparer-row .button-row a {
    cursor: pointer;
}
.route-compare-menu .expanded-comparer-row .delete-button {
    color: #e51c23;
}

.route-compare-menu .comparer-row .col-xs-8,
.route-compare-menu .expanded-comparer-row .col-xs-8 {
    overflow: hidden;
    padding-top: 5px;
}

.add-route-button {
    position: fixed;
    bottom: 24px;
    right: 80px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2ad336;
    color: white;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
    transition: transform .5s;
}

.add-route-button:hover {
    transform: rotate(180deg);
    transform-origin: 25px 25px;
}

.route-compare-menu .days-input {
    display: inline;
    min-width: 40px;
    max-width: 60px;
    margin-left: 20px;
    text-align: center;
    height: auto;
    border: 1px solid #e5e5e5;
    box-shadow: none;
}

.route-compare-menu .sortby-select {
    display: inline;
    max-width: 100px;
    margin-left: 10px;
    padding-left: 10px;
    box-shadow: none;
}

.route-compare-menu .empty-row {
    margin:  0;
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.route-compare-menu .empty-row h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.4;
}

.route-compare-menu .input-row {
    margin-top: 7px;
    padding-bottom: 4px;
}