.dialog-modal {
    font-family: Montserrat, sans-serif;
}

.dialog-modal .close-button {
    margin: 10px 20px 0 0;
    transform: scale(1.5);
    cursor: pointer;
}

.dialog-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}