.route-select-modal-content .close-button {
    position: absolute;
    top: 0;
    right: 13px;
    font-size: 20px;
    color: #888;
    z-index: 5;
    transition: color .5s;
    cursor: pointer;
}

.route-select-modal-content .modal-header {
    font-family: Monteserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.route-select-modal-content .modal-header span {
    margin: 0 10px;
}

.route-select-modal-content .modal-body {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 200px;
}

.route-select-modal-content .modal-body .values {
    font-family: Montserrat, serif;
}

.route-select-modal-content .modal-body .duration-value,
.route-select-modal-content .modal-body .fare-value {
    font-size: 16px;
    display: inline;
}

.route-select-modal-content .modal-body .duration-id,
.route-select-modal-content .modal-body .fare-id {
    padding: 0 4px;
    display: inline;
}

.route-select-modal-content .modal-body .selectable-row {
    opacity: 0.66;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.route-select-modal-content .modal-body .selectable-row:hover {
    opacity: 0.85;
}

.route-select-modal-content .modal-body .selectable-row.selected {
    opacity: 1;
}

.route-select-modal-content .modal-footer {
    padding-top: 0;
}

.route-select-modal-content .modal-footer .ion-ios-checkmark-empty {
    margin-left: 5px;
    font-size: 10px;
    vertical-align: middle;
}

.route-select-modal-content .modal-footer .ion-ios-checkmark-empty:before {
    transform: scale(2.5);
}

.route-select-modal-content .col-xs-6 {
    padding: 0 0 0 22px;
}

.route-select-modal-content .map-col {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}